@import '../../../variables/_mixins';

.footer__form-title {
  @include font(24px, 600, Inter, 1.33);
  width: 229px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 1350px) {
  .footer__form-title {
    margin: 0 0 40px 0;
  }
}