@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}


.bicycles__slides {
  @include flex();
  list-style-type: $list-style-none;
  margin: 0 120px 0 120px;
  padding: 0;
  animation: fade 1.5s;
}


@media screen and (max-width: 1350px) {
  .bicycles__slides {
    margin: 0 0 0 18px;
    width: 302px;
    position: relative;
  }
}