@import "../../../variables/_mixins";
@import "../../../variables/_fonts";

.quote__title {
  @include font (34px, 600, $line-height: 1.29);
  display: block;
  max-width: 470px;
  margin: 0 0 0 120px;
  color: $black-ligth;
}