.workout__list {
  @include flex();
  list-style-type: $list-style-none;
  padding: 0;
  margin: 182px 0 0 0;
}

@media screen and (max-width: 1350px) {
  .workout__list {
    margin: 140px 0 0 0;
  }
}

@media screen and (max-width: 959px) {
  .workout__list {
    margin: 40px 0 60px 0;
  }
}