.slider-road__list {
  overflow: hidden;
  position: relative;
  margin: 0 0 0 120px;
}

@media screen and (max-width: 959px) {
  .slider-road__list {
    margin: 0 0 0 18px;
    height: 175px;
    grid-area: image;
  }
}