.slider-road__image-container {
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  max-width: 1760px;
  list-style-type: $list-style-none;
  transition: 1s;
}

@media screen and (max-width: 959px) {
  .slider-road__image-container {
    max-width: 1510px;
  }
}