.footer__theme-container {
  display: grid;
  grid-template-columns: 1fr 44px 1fr;
  width: 136px;
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0 123px 0 0;
  justify-content: center;
  align-items: center;
  grid-area: icon;
}

@media screen and (max-width: 1350px) {
  .footer__theme-container {
    display: none;
  }
}