.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "title image"
  "text image"
  "bic image";
}

@media screen and (max-width: 959px) {
  .intro {
  grid-template-columns: 320px;
  grid-template-areas: 
  "title"
  "image"
  "text"
  "button";
  width: 320px;
  margin: 0 auto;
  }
}