@import "../../../variables/_mixins";
@import "../../../variables/_fonts";

.quote__author {
  @include font (20px, 500, $line-height: 1.6);
  margin: 262px 0 0 120px;
  color: inherit;
}

@media screen and (max-width: 1350px) {
  .quote__author {
    @include font (14px, 500, $line-height: 1.57);
    margin: 40px 0 0 0;
  }
}