@media screen and (max-width: 959px) {
  .slider-road {
    display: grid;
    // width: 284px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title button"
    "image image"
    "text text";
    margin: 80px auto 0 auto;
    border-top: 1px solid #E3E3E3;
    box-sizing: border-box;
    width: 320px;
  }
}