.bicycles__text {
  @include font(18px, 600, $inter, 1.22);
  align-self: flex-start;
  color: inherit;
  margin: 22px 0 0 10px;
}

@media screen and (max-width: 1350px) {
  .bicycles__text {
    text-align: center;
    margin: 0 auto;
    padding-top: 3px;
    @include font(14px, 600, $inter, 1.29);
  }
}