.slider-road__icons {
  background-image: url(../../../images/Rectangle.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 100px;
  position: absolute;
  bottom: 16px;
}

@media screen and (max-width: 959px) {
  .slider-road__icons {
    height: 28px;
    width: 70px;
    background-size: cover;
    bottom: 14px;
  }
}