@import "../../../variables/_theme";

.bicycles__slide-item {
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: $page;
  box-shadow: 0 0 220px rgba(0, 0, 0, 0.05);
}


@media screen and (max-width: 1350px) {
  .bicycles__slide-item {
    width: 284px;
    height: 284px;
  }
}