.menu__links {
  list-style-type: $list-style-none;
  width: 399px;
  padding: 0;
  margin: 0 120px 0 0;
  @include flex(space-between);
}

@media screen and (max-width: 960px) {
  .menu__links {
  display: none;
  }
}