.bicycles__choice {
  @include font(11px, 600, Inter, 1.27);
  width: 114px;
  height: 30px;
  box-sizing: border-box;
  padding: 0 12px 0 12px;
  margin: 0 0 0 18px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../../images/Vector_select.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  outline: none;
  background-color: transparent;
  display: none;
  color: inherit;
}

@media screen and (max-width: 959px) {
  .bicycles__choice {
    display: block;
  }
}