@import "../../variables/_mixins";
@import "../../variables/_theme";

.menu {
  height: 74px;
  @include flex(flex-end);
  position: fixed;
  top: 0;
  background-color: $page;
  width: 100%;
  max-width: 1440px;
  z-index: 999;
}

@media screen and (max-width: 1350px) {
  .menu {
    max-width: 320px;
  }
}